# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan

# Terraform variables
terraform.tfvars

# AWS installers
awscliv2.zip
aws/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
